<div id="page-content">
    <% if (session[:lang].nil? or session[:lang] == 'gr') %>
        <h1 class="text-center mt-4">Είσοδος Χρήστη</h1>
    <% else %>
        <h1 class="text-center mt-4">Log in</h1>
    <% end %>
        <%= render 'form' %>
</div>